body {
  font-family: "DM Sans", sans-serif;
}
h1 {
  display: flex;
  align-items: center;
  height: 72px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #2a3135;
}
h2 {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 64px;
  background: #34ace0;
  box-shadow: 0px 2px 8px rgba(52, 172, 224, 0.4);
  border-radius: 16px;
  color: #ffffff;
}
a:link {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
}
a:visited {
  background: #34ace0;
}
a:hover {
  background: rgba(52, 172, 224, 0.4);
}
a:active {
  background: rgba(52, 172, 224, 0.4);
}
.cont_all {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1024px;
  height: 868px;
  margin: 100px auto;
  background: #fff;
}
.cont_vert {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 432px;
}
.cont_hor {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont_fabs {
  position: relative;
}
.cont_stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 432px;
  height: 64px;
}
.cont_stage_line01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 12px;
  margin: 8px 66px 12px;
}
.cont_stage_line02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cont_stage_line02 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.circle01 {
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 50%;
}
.line01 {
  width: 122px;
  height: 2px;
}
.cont_line02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 208px;
  height: 4px;
  margin: 16px 112px 32px;
}
.line02 {
  width: 40px;
  height: 4px;
  border-radius: 4px;
}
.cont_left_bot {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 432px;
  padding: 0 169px 0 24px;
  margin-top: 32px;
}
.cont_line03 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 131px;
  height: 24px;
}
.cont_rb01 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  width: 432px;
  margin: 0 0 24px;
}
.cont_rb01b {
  justify-content: space-between;
  height: 216px;
}
.cont_rb01c {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 56px;
}
.cont_rb01 input {
  box-sizing: border-box;
  padding: 8px 16px 8px 50px;
  height: 40px;
  background: #fafafa;
  border: 1px solid rgba(220, 224, 226, 0.2);
  box-shadow: 0px 1px 4px rgba(220, 224, 226, 0.1);
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #868c90;
}
.cont_rb01 input::placeholder {
  color: #868c90;
}
.icon01 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 24px;
}
.cont_hor_nojus {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.w384p {
  width: 384px;
  margin: 16px 0 0 0;
}
.w144p {
  width: 144px;
  margin: 16px 16px 0 0;
  display: inline-block;
}
.cont_methods {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 384px;
  height: 100px;
  margin-top: 16px;
}
.mr21 {
  margin-right: 21px;
}
.meth_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border: 1px solid rgba(220, 224, 226, 0.2);
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 4px rgba(220, 224, 226, 0.1));
  border-radius: 8px;
  background: #fafafa;
}
.meth_box:focus {
  border: 1px solid rgba(52, 172, 224, 0.8);
  background: rgba(52, 172, 224, 0.2);
}
.meth_box:hover {
  border: 1px solid rgba(52, 172, 224, 0.8);
  background: rgba(52, 172, 224, 0.2);
}
.col_lightblue01 {
  color: rgba(52, 172, 224, 0.4);
}
.col_bg_lightblue01 {
  background: rgba(52, 172, 224, 0.4);
}
.col_lightgrey01 {
  color: #dce0e2;
}
.col_bg_lightgrey01 {
  background: #dce0e2;
}
.col_grey01 {
  color: #868c90;
}
.col_bg_grey01 {
  background: #868c90;
}
.col_blue01 {
  color: #34ace0;
}
.col_bg_blue01 {
  background: #34ace0;
}
.txt_16 {
  display: flex;
  align-items: center;
  height: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.txt_b {
  font-weight: 700;
}
.txt_n {
  font-weight: 400;
}
.txt_line_th {
  text-decoration-line: line-through;
}
#em_select_cur {
  display: flex;
  align-items: center;
  width: 92px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #34ace0;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #34ace0;
  padding-left: 8px;
}
